html{
    font-family: 'Montserrat';
    margin: auto;
}
#heading{
    margin-top: 30px;
    text-align: center;
}
#main-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    margin: 60px;
    transition: 0.5s;
}
.card:hover{
    transform: scale(1.1);
}